body{
    min-height: 1000px;
}
// if
@mixin profile-picture($size, $circle: false){
    width: $size;
    height: $size;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba($color: #000, $alpha: 0.3);

    @if $circle {
        border-radius: 50%;
    }
}

.square {
    @include profile-picture(200px, $circle: false);
}

.circle {
    @include profile-picture(140px, $circle: true);
}

// else
$light-bg: cyan;
$light-text: #333;
$dark-bg: grey;
$dark-text: white;

@mixin color-mode($light-mode: true){
    @if $light-mode {
        background-color: $light-bg;
        color: $light-text;
    } @else {
        background-color: $dark-bg;
        color: $dark-text;
    }
}

.nav {
    @include color-mode($light-mode: false);
}

// else if
@mixin triangle($size, $color, $direction) {
    width: 0;
    height: 0;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    // border-width: $size / 2;
    // versi terbaru
    border-width: calc(#{$size} / 2);
    @if $direction == up {
    border-bottom-color: $color;
    } @else if $direction == right {
    border-left-color: $color;
    } @else if $direction == down{
    border-top-color: $color;
    } @else {
    border-right-color: $color;
    }
}
.top{
    @include triangle(2em, black, up)
}
.bottom{
    @include triangle(2em, black, down)
}
.right{
    @include triangle(2em, black, right)
}
.left{
    @include triangle(2em, black, left)
}

// for
// $color: green;
// .gradient {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     @for $i from 1 to 11 {
//         li:nth-child(#{$i}) {
//             padding: 4px;
//             background-color: lighten($color, $i * 3%);
//             // background-color: darken($color, $i * 3%);
//         }
        
//     }
// }

// while
$color: green;
.gradient {
    margin: 0;
    padding: 0;
    list-style: none;
    $i: 1;
    @while $i < 11 {
        li:nth-child(#{$i}) {
            padding: 4px;
            background-color: lighten($color, $i * 3%);
            // background-color: darken($color, $i * 3%);
        }
        $i : $i + 1;
    }
}

// each
$sosialColor: (
    yt: red,
    wa: green,
    tw: blue,
);

.socials {
    font-size: 2em;
    font-family: Arial;
    font-weight: bold;
    @each $sosmed, $color in $sosialColor {
        .#{$sosmed}{
            color: $color;
        }
    }
}